node_modules
dist
.env

# Ignore all data files (collections, environments, variables, history)
data/**
!data/
!data/collections/
!data/environments/
!data/variables/
!data/history/
!data/**/.gitkeep
